html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	line-height: 1.5;
	font-family: serif;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.hero-image {
  background-image: url('../img/heroimage1.png');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: auto;
  }

  .header {
  	display: flex;
  	align-items: center;
  }

  button {
  		margin-top: 1.5rem;
  }

  .menu {

  }

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-top: 10.5rem;
}

 .footer ul {
 	list-style: none;
 	padding: 0;
 }

@media screen and (max-width: 900px) {
.grid-container {
	display: flex;
	flex-direction: column;
}

.featured-article-body {padding: 0px 100px 0px 100px;
}

.featured-article-body h1 {
	text-align: center;
}

}

@media screen and (min-width: 901px) {
.footer {
	margin-top: 20rem;
	background-color: gray;
}
}